name: Daily News Poster

on:
  schedule:
    # 01:00 UTC = 8:00 PM New York Time (EST) - USA Free Time
    - cron: '0 1 * * *'
  workflow_dispatch: # Button se manually chalane ke liye
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install libraries
        run: |
          python -m pip install --upgrade pip
          pip install google-auth google-auth-oauthlib google-api-python-client requests openai feedparser
          
      - name: Run Auto Poster
        env:
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_REFRESH_TOKEN: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          BLOGGER_BLOG_ID: ${{ secrets.BLOGGER_BLOG_ID }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: python main.py
